*.pyc

.env
# Python cache
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
venv/

# Banco local
banco.db
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/